.work-add{
    position: relative;
    width: 75%;
    margin-left: 16%;
    margin-top: 40px;
    min-height: 500px !important;
    background: #FFFFFF;
    border: 1px solid #E3E5E4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
}

.work-add form{
    margin-left: 0;
}
input{
    width: 100%;
}